@import "tailwindcss";



:root {
  --font-montserrat: 'Montserrat', sans-serif;
}

html {
  font-family: var(--font-montserrat);
}

.bg-hero {
  --tw-bg-opacity: 1;
  background-image: url("/assets/hero_bg_img.png");
}