@import "tailwindcss";



:root {
  --font-montserrat: 'Montserrat', sans-serif;
}

html {
  font-family: var(--font-montserrat);
}

.bg-hero {
  --tw-bg-opacity: 1;
  background-image: url("/assets/hero_bg_img.png");
}

/* In your app/globals.css file */

/* Hide the default 'x' (clear button) on search inputs in WebKit browsers */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  display: none;
}